html{
    background-image: linear-gradient(to right, black, gray);
}
#name{
    color: green;
}
#age{
    color: rgb(0, 141, 0);
    font-size: larger;
}
#location{
    color: rgb(1, 170, 1);
    font-size: larger;
    font-weight: bold;
}
#school{
    color: rgb(2, 204, 2);
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}
#school{
    color: rgb(0, 226, 0);
    font-size: larger;
    font-weight: bold;
    font-style: italic;    
}
#favsub{
    color: rgb(42, 255, 42);
}
#sv{
    color:blanchedalmond;
}